{% extends 'event/base.html' %}

{% block content %}
{% for post in post_list %}
        <div class="card mb-3">
            <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ post.category.name }}</h6>
                <p class="card-text">
                    <strong>{{ post.created_at|date:"Y年 Mj日" }}</strong></p>
                {{ post.place }}

                <p></p>
                <a href="{% url 'event:detail' post.pk %}" class="btn btn-primary">詳細</a>
            </div>
        </div>
    {% endfor %}
    {% include 'gamesinformation/page.html' %}
{% endblock %}